.ui.card:first-child, .ui.card:last-child {
    margin-top: auto;
    margin-bottom: auto;
}

.extra.content.prodcard {
    color: var(--color-black);
}

.img-prodcard {
    width: 290px;
    object-fit: cover;
    height: 450px;
}