.product-filter {
    margin: 5rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.ui.grid.display {
    gap: 1rem;
    margin: 0 0;
    align-items: center;
    justify-content: center;
}
.search-filter {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.reset-button {
    border: solid 1px var(--color-black);
    padding: 10px 30px;
    border-radius: 5%;
    transition: var(--transition);
}
.reset-button:hover{
    /* color: var(--color-white); */
    background-color: var(--color-secondary);
    border: solid 1px var(--color-secondary);
    transition: var(--transition);
}