/************* NAVBAR ***************/
.navbar-container {
  height: 4rem;
  width: 100%;
  top: 0;
  display: grid;
  position: fixed;
  grid-template-columns: 33% 34% 33%;
  background-color: white;
  z-index: 999;
  align-items: center;
  justify-content: center;
}
.navbar-right {
  padding: 1rem 2rem 1rem 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  cursor: pointer;
}
.navbar-left {
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
  font-size: 40px;
}
.navbar-left.active {
  transform: translate(33%, 0);
  transition: var(--transition);
}
.navbar-search {
  display: flex;
}
.navbar-text {
  justify-content: center;
  align-items: center;
}
.ui.top.right.pointing.dropdown >.menu {
  margin-top: 0;
}
.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.dropdown.span {
  display: flex;
  gap: 5px;
}

.brandname {
  padding-top: 0.25rem;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

/************** SIDEBAR ***************/
.sidebar-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 1.5rem;
  padding-top: 4rem;
  padding: 4rem 1rem 0 1rem;
  width: 15%;
  height: 100vh;
  top: 0;
  left: -100%;
  z-index: 998;
  background-color: var(--color-white);
  transition: var(--transition);
}
.sidebar-menu.active {
  transition: var(--transition);
  left: 0;
}
.sidebar-menulist {
  line-height: 2;
  font-size: 20px;
}
.sidebar-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(74, 74, 74);
  transition: var(--transition);
}
.link-list {
  color: rgb(74, 74, 74);
}
.sidebar-link:hover {
  font-weight: 600;
  transition: var(--transition);
}
.icon {
  font-size: 22px;
}

/**************** MEDIA QUERIES (MEDIUM DEVICES - TABLETS) ************** */
@media screen and (max-width: 1024px) {
}

/**************** MEDIA QUERIES (SMALL DEVICES - PHONES) ************** */
@media screen and (max-width: 600px) {
}
